nav {
	display: flex;
	justify-content: space-around;
	background-color: lightblue;
	color: red;
	font-size: 2em;
}
header h2 {
	text-align: center;
}
.Components {
	column-count: 1;
}
.Component {
	padding: 10px;
}
.Component p {
	margin: -0.1em;
}
.Material {
	padding: 10px;
}
